<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="jiraHost" value="https://jira.newegg.org/" />
    
    <add key="jiraSearchPath" value="rest/api/2/search" />
    <add key="jiraIssueUrl" value="rest/api/2/issue" />
  </appSettings>
</configuration>